


.clock{
    margin: auto;
    width: 30%; 
    text-align: center;
    background-color: black;
    color: aliceblue;
    font-size: 45px;
    box-sizing: content-box;
    font-family: fantasy;
    letter-spacing: 12px;
}
.time{
   
    display: contents;
    flex-direction: row;
    border-color: rgb(254, 254, 254) 10px;
}